@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.home {
  /* height: 90%; */
  display: flex;
  flex-flow: row;
  margin-top: 100px;
}

.home__left {
  width: 50%;
  height: 400px;
  margin-left: 150px;
}

.home__left > h3 {
  margin-top: 90px;
  font-family: Poppins;
  font-weight: 800;
  font-size: 55px;
  line-height: 80px;
  color: #1300ed;
}

.home__left > h4 {
  /* margin-top: -20px; */
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 31.5px;
}

.home__button {
  background-color: #1300ed;
  color: white;
  height: 43px;
  width: 123px;
  border: none;
  font-family: Poppins;
  font-weight: 700;
  border-radius: 5px;
}

.home__right > img {
  display: flex;
  float: right;
  width: 50%;
  height: 570px;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .home {
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    margin-top: -30px;
  }

  .home__left {
    width: 80%;
    margin: 30px 20px 0 20px;
  }

  .home__left > h3 {
    margin-top: 90px;
    font-family: Poppins;
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    color: #1300ed;
  }

  .home__left > h4 {
    margin-top: -10px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.5px;
  }

  .home__button {
    background-color: #1300ed;
    color: white;
    height: 37px;
    width: 100px;
    border: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: 8px;
    border-radius: 5px;
  }

  .home__right {
    margin-top: -90px;
  }

  .home__right > img {
    height: 300px;
    width: 400px;
  }
}
